{% extends "base.html" %}

{% block content %}
<div class="container">
     <div class="ROW">
        <div class="col">
           <h1 class="text-center my-5">
               <span class="d-block text-accent mb-3"><i class="fa-solid fa-mug-hot fa-2xl"></i></span>
               <span class="my-6 d-block">Выберите свой<br>любимый кофе в подарок...</span>
           </h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5" id="coffee-container">
        <!-- Карточки генерируются JS -->
    </div>

    <div class="row">
        <div class="col-12">
            <h3 class="mb-3 text-center">Кофейни на карте</h3>
            <div id="map"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="cafeListModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="modalTitle">Список кофеен</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5">
                <div class="list-group list-group-flush" id="modalCafeList">
                    <!-- Список кофеен генерируется JS -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://api-maps.yandex.ru/2.1/?apikey={{ api_key }}&lang=ru_RU" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/coffee.js') }}"></script>
{% endblock %}
